header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}



.bordes{
    border: solid;
    box-shadow: 2px 2px 5px black;
    border-radius: 8px;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
@media screen {
    header {
        min-width: 320px;
    }
}

@media screen and(max-width: 425px) {
    form div{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        width: 100%;
        
    }
    
}

@media screen and (max-width: 767px){
    form div{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        width: 100%;
        height: auto;
        padding: auto;
    }

    form{
        width: 100%;
    }

    form input{
        height: 100%;
    }

    form input[type=submit] {
        width: auto; /* Ajusta el ancho según sea necesario */
        height: auto;
        margin: 0 auto; /* Centra horizontalmente el botón */
        display: block; /* Asegura que el botón ocupe todo el ancho disponible */
    }

    form textarea{
        width: 50vw;
    }

    header{
        min-width: 320px;
    }
    .mensaje{
        display: none;
        visibility: collapse;
    }
    .headerImage{
        margin: auto;
        height: 15vh;
    }

    .contactos{
        width: 100vw;
    }

    .comprar-palabra{
        width: min-content;
        display:block;
        text-align: center;
        margin: auto;  
    }
    
    p{
        display: none;
    }
}
