header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}


.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
 
@media screen {
    header {
        min-width: 320px;
    }
}

@media screen and (max-width: 767px) {
    header{
        min-width: 320px;
    }
    .mensaje{
        display: none;
        visibility: collapse;
    }
    .headerImage{
        margin: auto;
        height: 15vh;
    }

}
