<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegos PC</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/pagina3.css" type="text/css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header class="flex bg-green-500 justify-between w-full">
        <div class="headerImage">
            <img src="../utilities/eldenring.png" class="w-16 mt-4 m-auto float-left">
        </div>
        <ul class="text-sm flex gap-4 hidden md:flex gap-8 items-center px-6">
            <li><a href="#contactos-y-redes">Contacto</a></li>
            <li><a href="#plataforms">Productos</a></li>
            <li><a href="#contactos-y-redes">Redes Sociales</a></li>
        </ul>
    </header>

    <main>
        <input type="text" id="game-filter" placeholder="Buscar juegos..." class="m-4 p-2 border rounded">

        <div id="listado" class="games bordes justify-items-center m-8 gap-8 mt-16 p-8 bg-slate-300 md:grid grid-cols-1 2xl:grid-cols-3">
            <!-- Aquí se renderizarán los juegos -->
        </div>
    </main>

    <footer class="contactos bg-green-700 grid grid-cols-2">
        <div class="mensaje">
            <p class="merriweather-bold pl-4 pt-2">¡Sígueme en mis redes sociales!</p>
        </div>
        <div class="contactos flex justify-center gap-2 pb-4 pt-2">    
            <a href="#" class="href">
                <img class="w-8" src="../assets/instagram-internet-media-svgrepo-com.svg">
            </a>
            <a href="#" class="href">
                <img class="w-8" src="../assets/facebook-svgrepo-com.svg">
            </a>
            <a href="#" class="href">
                <img class="w-8" src="../assets/whatsapp-svgrepo-com.svg">
            </a>
        </div>
    </footer>

    <script src="../jss/productosPC.js"></script>
</body>
</html>